.quiz .dashboard_Title::before,
.quiz .dashboard_Title::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  right: 0;
}
.quiz .dashboard_Title::before {
  background-color: white;
  width: 120px;
}
.quiz .dashboard_Title::after {
  background-color: #f26a40;
  width: 40px;
}
@media (max-width: 767px) {
  .quiz .dashboard_Title::before,
  .quiz .dashboard_Title::after {
    left: 0;
  }
}
    .quiz_btn {
       background-color: #f26a40;
    }
