.all_vedio iframe {
    width: 350px;  
    height: 300px;
    margin: 0px 0px 0px 30px;
  }
  @media (width < 768px) {
   .all_vedio iframe {
    width: 260px;  
    height: 200px;
    margin: 0px 0px 0px 0px;
  }
  }
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    .all_vedio iframe {
        width: 260px;  
        height: 220px;
        margin: 0px 0px 0px 0px;
  }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .all_vedio iframe {
      margin: 0px 0px 0px 0px;
    }
  }