 /* Start Projects Table */
 .projects table {
  min-width: 800px;
  border-spacing: 0;
}

.projects table td {
  padding: 15px;
}
.projects thead td {
  border-left: 1px solid gray;
}
.projects tbody td {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  transition: 0.3s;
} 
.projects table tbody tr td:first-child,
.projects table thead tr td:first-child {
  border-right: 1px solid gray;
}
.projects tbody tr:hover td {
  background-color: gray;
}
.projects table .label {
  font-size: 13px;
}
/* End Projects Table */
  
   